<div class="row my_row">
	<div class="aboutApp"> 
		<div class="card my_description">
		    <div class="card-block">
		    	<p class="card-text cancelNoWrap">Create, edit, delete and join events.</p>
		    	<p> Users can leave messages on created events.</p>
		    	<p>Login and Registration is required.</p>
		    	<div class="form-group">
		    		<a href="#" target="_blank" class="btn btn-info">See it in action</a>
		    	</div>
		   </div>
		   <div class="form-group">
			 	<i class="fa fa-github" aria-hidden="true"></i>
				<a href="https://github.com/kevinbundi/events_app" target="_blank" class="btn btn-secondary btn-sm">Github</a>
			</div>
		</div>
	</div>

	<div class="aboutApp">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('eventsApp/mobile_registration.PNG') %>" alt="image">
	</div>
	<div class="aboutApp">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('eventsApp/mobile_login.PNG') %>" alt="image">
	</div>
	<div class="aboutApp">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('eventsApp/mobile_home.PNG') %>" alt="image">
	</div>
	<div class="aboutApp">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('eventsApp/mobile_view_event.PNG') %>" alt="image">
	</div>
	<div class="aboutApp">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('eventsApp/mobile_profile.PNG') %>" alt="image">
	</div>
	<div class="aboutApp">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('eventsApp/mobile_user_edit.PNG') %>" alt="image">
	</div>
	<div class="aboutApp">
		<img class="img-thumbnail img-fluid desktopShot" src="<%= asset_path('eventsApp/user_profile.PNG') %>" alt="image">
	</div>
	<div class="aboutApp">
		<img class="img-thumbnail img-fluid desktopShot" src="<%= asset_path('eventsApp/view_event.PNG') %>" alt="image">
	</div>
</div> 