<div class="row my_row">
	<div class="aboutApp">
		<div class="card my_description">
			<div class="card-block">
				<p class="card-text">create, view, comment, like/unlike anonymous secrets anonymously</p>
				<div class="form-group">
					<a href="https://kevinbundi.com" target="_blank" class="btn btn-info">See it in action</a>
				</div>
				<div class="form-group">
				 	<i class="fa fa-github" aria-hidden="true"></i>
					<a href="https://github.com/kevinbundi/secrets_app" target="_blank" class="btn btn-secondary btn-sm">Github</a>
				</div>
			</div>
		</div>
	</div>

	<div class="aboutApp">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('secretsApp/mobile_register.PNG') %>" alt="image">
	</div>
	<div class="aboutApp">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('secretsApp/mobile_login.PNG') %>" alt="image">
	</div>
	<div class="aboutApp">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('secretsApp/mobile-home.PNG') %>" alt="image">
	</div>
	<div class="aboutApp">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('secretsApp/mobile_user_profile.PNG') %>" alt="image">
	</div>
	<div class=" aboutApp desktopShot">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('secretsApp/home_2.PNG') %>" alt="image">
	</div>
	<div class="aboutApp desktopShot">
		<img class="img-thumbnail img-fluid" src="<%= asset_path('secretsApp/user_profile.PNG') %>" alt="image">
	</div>
</div>
