<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="width=device-width, initial-scale=1">
	<meta name="description" content="Kevin Bundi Portfolio">
	<meta name="author" content="Kevin Bundi">
	<title>KevinBundi</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= google_webfonts_init({
    	google: [ 'League Spartan', 'san-serif', 'Maven Pro'] 
    }) %> 
</head>
<body>

<%= yield %>

</body>
</html>
